body {
	 background-color: rgb(128,128,128);
}

h1{
	font-family: arial;
	font-size: 280%;
	color: cyan;
}

p{
	font-family: arial;
	font-size: 100%;
	color: purple;
}

p cite{
	font-family: verdana;
	color: cyan;
}

img{
	padding:25px;
	border: 25px dotted lightblue;
	margin-right: 50px;
}
